$base-color: #19be6b;

body {
  padding-bottom: 50px;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
